
<h1>Ayana Jewelry</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("bride.jpg", class: "img-responsice my-image") %>
<%#= image_tag(product.image_url, class: "img-responsive") %>

<%# text_variable %>
<%#= text_variable %>