<h1>Ayana Jewelry</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("bride.jpg", class: "img-responsice my-image") %>
<%= image_tag("snail.jpg", class: "img-responsice my-image") %>
<%# text_variable %>
<%#= text_variable %>